 * {
     padding: 0;
     margin: 0;

 }

 body {
     background: #eeeeee;

 }
.contatiner {
    width: 960px;
    height: 450px;
    margin: 60px auto;
    position: relative;
    
}


.pic {
    width: 150px;
}

 .contatiner img {
     padding: 10px 10px 15px;
     background: #ffffff;
     border: 1px solid #ddd;
     box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
     z-index: 1;
     -webkit-transition: all 0.5s ease-in ;
     -ms-transition: all 0.5s ease-in ;
     -moz-transition: all 0.5s ease-in ;
     -o-transition: all 0.5s ease-in;
     transition: all 0.5s ease-in ;
     position: absolute;/*解决最上层显示的问题*/
 }
 .contatiner img:hover {
 z-index: 2;
     transform: rotate(0deg) scale(1.20);
     box-shadow: 15px 15px 20px rgba(50,50,50,.4);
     -webkit-transform: rotate(0deg) scale(1.20);
 }

 .pic2 {
     left: 400px;
     top:0;
     transform: rotate(-20deg) ;
     -webkit-transform: rotate(-20deg);
 }

 .pic3 {
     bottom: 0px;
     left:0;
     transform: rotate(5deg) ;
     -webkit-transform: rotate(5deg);
 }
 .pic4 {
     bottom: 0px;
     left:300px;
     transform: rotate(-10deg) ;
     -webkit-transform: rotate(-10deg);
 }

 .pic5 {
     bottom: 20px;
     left:20px;
     transform: rotate(40deg) ;
     -webkit-transform: rotate(40deg);
 }

 .pic6 {
     bottom: 0px;
     left:0px;
     transform: rotate(30deg) ;
     -webkit-transform: rotate(30deg);
 }

 .pic7 {
     bottom: 30px;
     left:30px;
     transform: rotate(30deg) ;
     -webkit-transform: rotate(30deg);
 }

 .pic8 {
     bottom: 40px;
     left:40px;
     transform: rotate(60deg) ;
     -webkit-transform: rotate(60deg);
 }

 .pic9 {
     bottom:10 0px;
     left:100px;
     transform: rotate(-90deg) ;
     -webkit-transform: rotate(-90deg);
 }

