body {

	background:url(../img/bg.jpg);
    background-repeat: no-repeat;
    /*background-position: right;
    *background-attachment: fixed;*
    background-attachment: scroll;*/
    background-size: 1000px;
}
