#fd {
    width: 100px;
    height: 300px;
    background-color: red;
    float: left;
}
#sd {
    width: 200px;
    height: 200px;
    background-color: blue;
    float: left;
}
#td {
    width: 150px;
    height: 150px;
    background-color: green;
    float: left;
}
#container {
    width: 500px;
    height: 500px;
    background-color: #0f0f0f;
    color: #eeeeee;
}
#text {
    clear: both;
}