#position {
       width: 100px;
       height: 100px;
       background-color: #2b669a;
       /*position: relative;!*相对布局*!*/
       position: absolute;
       /*position: fixed;*/
       /*position: static;!*当时静态的时候，偏移量是不起作用的*!*/
       left: 50px;
       top: 50px;
   }
#position1 {
    width: 100px;
    height: 100px;
    background-color: #2aabd2;
    /*position: relative;!*相对布局*!*/
    position: absolute;
    /*position: fixed;*/
    /*position: static;*当时静态的时候，偏移量是不起作用的*/
    left: 10px;
    top: 10px;
    z-index: -1;
}